### 为元组中的每个元素命名,提高程序的可读性

In [1]:
student = ("jim",16,"male","jims@gmail.com")

In [2]:
student

('jim', 16, 'male', 'jims@gmail.com')

In [3]:
print student[0]

jim

In [10]:
# NAME = 0
# AGE = 1
# SEX = 2
# EMAIL = 3

NAME,AGE,SEX,EMAIL = range(4) #数据拆包

In [11]:
print student[NAME]

jim

In [12]:
print student[SEX]

male

In [14]:
from collections import namedtuple

In [15]:
namedtuple?

In [18]:
Student = namedtuple("student",['name','age','sex','email'])

In [20]:
s = Student("jim",16,"male","jims@gmail.com")

In [21]:
s

student(name='jim', age=16, sex='male', email='jims@gmail.com')

In [22]:
s2 = Student("Tom",20,"male","toms@gmail.com")

In [23]:
s2

student(name='Tom', age=20, sex='male', email='toms@gmail.com')

In [24]:
s.name

'jim'

In [25]:
s2.name

'Tom'

In [26]:
s2.age

20

In [28]:
isinstance(s,tuple)

True